<style>
    *{
    margin: 0px;
    padding: 0px;
    }
    body{
        font-family: arial;
        background: linear-gradient(-100deg, #e6f8fa, white);
    }
    .logout{
        margin: 15px 0;
        color: none;
        text-decoration: none;
        font-size: 23px;
        font-weight: 500;
        padding: 5px 20px;
        color: black;
        margin-top: 5px;
        border-radius: 50px;
        background: rgba(253, 213, 213, 0.959);
        
        line-height: 50px;
    
    
    }
    .logout:hover{
        background: #fff;
    
    } 
</style>

<a href="/logout" class="logout">Log out</a>




