<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style-404.css">
    <title>Error 404!!</title>
  </head>
  <body>
    <!-- purple x moss 2020 -->

<head>
  </head>
  <body>
    <div class="mainbox">
      <div class="err">404 !</div>
      <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="/home">home</a> and try from there.</p></div>
        </div>