<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style-home.css">
    <title>INPT Club Service  |  Home</title>
</head>

<body>
    <%- include ('./Partials/bar-menu.ejs') %>
    <%- include ('./Partials/logout.ejs') %>

    <div class="main">

    <!--CIT card -->

    <div class="card">

    <div class="image">
    <img src="./images/CIT.jpg">
    </div>
    <div class="title">
        <h4>
         Informatique et Télécoms 
        </h4>
    </div>
    <div class="des">
    <p>Registration is Open, deadline: 01/02/2022</p>
    <form action="/CIT">
        <input type="submit" style="color:black;"value="Register Now!" />
    </form>
    </div>
    </div>
    
    <!--CAS card -->

    <div class="card">

    <div class="image">
    <img src="./images/CAS.jpg">
    </div>
    <div class="title">
    <h4>
        <a href="/info-CAS" style="color: inherit;">Club des Affaires Sociales</h4></a>
    </div>
    <div class="des">
    <p>Registration is always Open during the year,Welcome!</p>
    <form action="/CAS">
        <input type="submit" style="color:black" value="Register Now!" />
    </form>
    </div>
    </div>
    
    <!--ENACTUS card -->

    <div class="card">

    <div class="image">
    <img src="./images/ENACTUS1.jpg">
    </div>
    <div class="title">
    <h4>
    ENACTUS INPT</h4>
    </div>
    <div class="des">
    <p>Registration was closed in: 18/01/2022</p>
    <form action="#">
        <input type="submit" style="color:black" value="Register Now!" />
    </form>
    </div>
    </div>
    
    <!--CESE card -->

    <div class="card">

    <div class="image">
    <img src="./images/CESE1.jpg">
    </div>
    <div class="title">
    <h5>
    Club éléctronique et systèmes embarqués</h5>
    </div>
    <div class="des">
    <p>Registration will be opened in: 03/02/2022</p>
    <form action="#">
        <input type="submit" style="color:black" value="Register Now!" />
    </form>
    </div>
    </div>
    
    <!--A2S card -->

    <div class="card">

    <div class="image">
    <img src="./images/A2S.jpg">
    </div>
    <div class="title">
    <h4>
    A2S INPT</h4>
    </div>
    <div class="des">
    <p>Registration is Open, deadline: 02/02/2022</p>
    <form action="/A2S">
        <input type="submit" style="color:black" value="Register Now!" />
    </form>
    </div>
    </div>
    
    <!--ASIA card -->

    <div class="card">

    <div class="image">
    <img src="./images/ASIA.jpg">
    </div>
    <div class="title">
    <h4>
    Club Asiatique</h4>
    </div>
    <div class="des">
    <p>Registration is Open, deadline: 30/01/2022.</p>
    <form action="/ASIA">
        <input type="submit" style="color:black" value="Register Now!" />
    </form>
    </div>
    </div>
    
    <!--GDI card -->

    <div class="card">

    <div class="image">
    <img src="./images/GDI.jpg">
    </div>
    <div class="title">
    <h4>
    Great Debaters-INPT</h4>
    </div>
    <div class="des">
    <p>Registration was closed in: 01/01/2022</p>
    <form action="#">
        <input type="submit" style="color:black" value="Register Now!" />
    </form>
    </div>
    </div>
    
    <!--GAMELAB card -->

    <div class="card">

    <div class="image">
    <img src="./images/GAMELAB.jpg">
    </div>
    <div class="title">
    <h4>
    INPT GAME LAB</h4>
    </div>
    <div class="des">
    <p>Registration is Open, deadline: 04/02/2022</p>
    <form action="/GAMELAB">
        <input type="submit" style="color:black" value="Register Now!" />
    </form>    </div>
    </div>
    
    <!--I3E card -->

    <div class="card">

    <div class="image">
    <img src="./images/I3E.png">
    </div>
    <div class="title">
    <h4>
    IEEE INPT Student Branch</h4>
    </div>
    <div class="des">
    <p>Registration well be opened in: 01/02/2022</p>
    <form action="#">
        <input type="submit" style="color:black" value="Register Now!" />
    </form>    </div>
    </div>
    </div>
</body>
</html>