<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="/style-index.css">
    <title>INPT Club service  |  Welcome</title>
  </head>
<body>
  <%- include ('./Partials/bar-menu.ejs') %>
  <div class="content">
    <div class="title"> 
      <u><h1 style="font-family:Tangerine, serif; font-size: 96px; text-shadow: 4px 4px 4px #aaa;">Bienvenue au PINE</h1></u>
      <center>
        <img src="./images/logoa.PNG" style="display: flex;justify-content: center;width: auto;">
      </center>
    </div>
    <div class="title"> 
      
    </div>
    <p> Où le parascolaire de l'INPT vise au future!</p>
    <a href="/login" style="color: inherit; font-family:Tangerine, serif; font-size: 50px; text-shadow: 4px 4px 4px #aaa;">Cliquez ici!</a>
  </div>
  <a  href="http://inpt.ac.ma" target="blank"><img src="https://www.inpt.ac.ma/sites/default/files/article/image/inpt%20_0.png" width="200px" ></a>

</body>
</html>












