<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club service  |  CAS</title>
</head>
<body style="background: linear-gradient(-90deg, rgb(107, 99, 99), rgb(193, 207, 193));">
    <%- include ('../Partials/bar-menu.ejs') %>
    <%- include ('../Partials/logout.ejs') %>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJEawCII0CYq40gLnrz98Z18gWrdBu5C2CsiZdTT9U7VQBgg/viewform?embedded=true" 
    width="1300" height="1947" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" position="relative"style=" margin: auto; display:block;" >Loading…</iframe>

</body>
</html>