<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Service | GAMELAB</title>
</head>
<body style="background: linear-gradient(-90deg, rgb(107, 99, 99), rgb(193, 207, 193));">
    <%- include ('../Partials/bar-menu.ejs') %>
    <%- include ('../Partials/logout.ejs') %>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdmcLlU0fk1-v4LjtJm90km1wCEJ2EBp49-JQjvN3AcUMNJtg/viewform?embedded=true"
    width="1300" style=" margin: auto; display:block;" height="2027" frameborder="0" scrolling="no" marginheight="0"
    marginwidth="0">Loading…</iframe>
</body>
</html>