<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INPT Club Service | Cas</title>
    <style type="text/css">
        body, html
        {
            margin: 0; padding: 0; height: 100%; overflow: hidden;
        }

        .cent
        {
            position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
        }
    </style>


</head>

<body>
    <%- include ('./bar-menu.ejs') %>
    <div class="cent">
        <iframe width="100%" height="100%" frameborder="0"  src="https://casinpt.com/"></iframe>
    </div>
</body>
</html>